body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.header {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 24px;
}

.login-form {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}

.login-input {
  padding: 10px;
  background: transparent;
  border: 1px solid #555;
  border-radius: 6px;
  color: white;
}

.login-input::placeholder {
  color: #aaa;
}


.login-btn {
  background-color: #e60073;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background-color: #e60073;
}

.signup-btn {
  background-color: #FFFFFF;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}


.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error-text {
  color: #ff4d4d;        
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: left;
}

.login-input {
  border: 1px solid #444;
  background-color: #000;
  color: white;
  padding: 10px 12px;
  border-radius: 6px;
  width: 100%;
}


.login-input.error {
  border-color: #ff4d4d;
}

